# Python
__pycache__/
*.py[cod]
*.so

# Environment
.env
.venv
venv/
env/

# Backtesting data & reports
intraday/testing/*/data/
intraday/testing/*/reports/
swing/testing/*/data/
swing/testing/*/reports/

# Logs
*.log

# IDE
.idea/
.vscode/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints