# Warm-up run to fetch and cache the Kite access token and symbol instrument_token
15 9 * * 1-5 flock /tmp/m5_warmup.lock bash -c 'source /home/ishaqvattaparambil/Tortoise-Trading-Lab/venv/bin/activate && python /home/ishaqvattaparambil/Tortoise-Trading-Lab/intraday_m5_warmup.py'

# Runs the scanner
20 9 * * 1-5 flock /tmp/m5_scan.lock bash -c 'source /home/ishaqvattaparambil/Tortoise-Trading-Lab/venv/bin/activate && python /home/ishaqvattaparambil/Tortoise-Trading-Lab/intraday_m5_scan.py'

#Runs 5-min candle backfill at 3.35PM
35 15 * * 1-5 flock /tmp/m5_backfill.lock bash -c 'source /home/ishaqvattaparambil/Tortoise-Trading-Lab/venv/bin/activate && python /home/ishaqvattaparambil/Tortoise-Trading-Lab/intraday_m5_backfill.py'

#Runs daily candle backfill at 3.40PM (it is required to find liquid symbol universe)
40 15 * * 1-5 flock /tmp/daily_backfill.lock bash -c 'source /home/ishaqvattaparambil/Tortoise-Trading-Lab/venv/bin/activate && python /home/ishaqvattaparambil/Tortoise-Trading-Lab/swing_day_backfill.py'
